<html>
	<head>
		<style>
			* { margin: 0; }
			body {
				display: flex;
				margin: 0;
				font-family: monospace;
			}

			header h2 a, header h2 a:visited {
				color: white;
				text-decoration: none;
			}

			header {
				padding: 8px 16px;
				color: white;
				border-right: 1px solid black;
				background: #0e0e0e;
			}

			form {
    			display: flex;
   				flex-direction: column;
    			align-items: center;
    			justify-content: space-between;
    			flex: 1;
			}

			input[type="submit"] {
    			height: 4vh;
    			width: 100%;
				border: 1px solid black;
    			border-left: 0;
    			border-right: 0;
    			background: white;
			}

			div.sh {
				height: 48vh;
				width: 100%;
			}

			textarea, .sh pre {
				transition: all 0.2s linear;
				color: #5d5d5d;
				padding: 8px 16px;
				resize: none;
				border: 0;
				height: 48vh;
				width: 100%;
			}

			textarea.sh:focus {
    			outline: none;
				color: black;
			}

			.sh pre {
    			background-color: transparent !important;
				tab-size: 4;
			}
		</style>
	</head>
	<body>
		<header>
			<h2><a href="https://github.com/dylanaraps/nosj">nosj</a></h2>
			<p>commit<br>{{ .Commit }}</p>
		</header>
		<form action="/nosj" method="POST">
			<textarea 
				name="json" 
				class="sh"
				autocomplete="off" 
				spellcheck="false"
			>{{ .Input | html }}</textarea>
			<input type="submit" value="Parse">
			<div class="sh">{{ .Output }}</div>
		</form>
	</body>
</html>
